footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px -1vw #1AE0EC;

    background-color: #000000;
    color: #1AE0EC;

    p {
        height: 10%;
        margin: 2%;

        font: normal normal 300 55% Heebo;
        letter-spacing: 0px;

    }
}