nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1000;
    box-shadow: inset 0px 3px #1AE0EC;

    .hamburger {
        font-size: 15vw;
        cursor: pointer;
        color: #1AE0EC;
    }

    .self_portrait_small {
        width: 10%;
        border-radius: 50%;
        object-fit: cover;
    }
}