.get_in_touch_container {
    background-color: #3A3A3A;
    color: white;

    font-family: Heebo;

    .mail_img {
        margin-bottom: -20%;
        margin-left: 50%;
    }

    h1 {
        font: bolder normal normal 1.8rem Heebo;
        letter-spacing: 0px;
    }

    p {
        font: normal normal normal 0.9rem Heebo;
        letter-spacing: 0px;
    }

    form {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            flex-direction: column;

            margin-left: 7%;
            margin-right: 7%;

            label {
                font: normal normal normal 0.8rem Heebo;
                letter-spacing: 0px;
            }
        }

    }

    button {

        margin-left: 7%;
        padding: 10px 10px;
        width: 25%;
        border: none;
        border-radius: 20px;
        background-color: #1AE0EC;
        cursor: pointer;
        transition: background-color 0.4s;

        .extra-space {
            margin-left: 5px;
        }

        &:hover {
            background-color: #0056b3;
            color: #ffff
        }
    }



    .contact_info {
        background-color: #1AE0EC;
        color: #2C2C2C;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        div {
            margin: 10%;
            width: 100%;

            img {
                object-position: center;
            }

        }
    }
}