$primary-font: Arial, sans-serif;
$secondary-font: 'Varela Round', sans-serif;
$title-font: 'Satisfy', cursive;
$primary-color: #FFFFFF;
$secondary-color: #F9F9F9;
$gradient-start: #281EFF;
$gradient-end: #2DFF8C;
$input-bg: #F6F6F624;
$border-color: $primary-color;
$button-bg-color: #1C1C1C;

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: $primary-font;
}

body {
    background: linear-gradient(180deg, $gradient-start, $gradient-end);
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    text-align: center;

    h1 {
        font: 4em $title-font;
        text-shadow: 0 0 36px rgba(0, 0, 0, 0.53);
        margin-bottom: 20px;

        @media (min-width: 600px) {
            font-size: 6em;
        }

        @media (min-width: 1201px) {
            font-size: 12em;
        }
    }

    p:nth-child(2) {
        font-size: 2em;
        font-family: $secondary-font;
        color: $primary-color;

        @media (max-width: 370px) {
            font-size: 1.3em;
        }
    }

    p:nth-child(3) {
        font-size: 1em;
        font-family: $secondary-font;
        color: $secondary-color;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        align-items: center;

        .input-group {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            font-family: $secondary-font;

            label {
                text-align: left;
                margin-bottom: 5px;
            }

            input {
                font: bold 1em $secondary-font;
                color: $secondary-color;
                height: 40px;
                background: $input-bg;
                border: 2px solid $border-color;
            }
        }

        button {
            width: 30%;
            height: 40px;
            background: $primary-color;
            font-family: $secondary-font;
            border: 0;
            color: $button-bg-color;
            transition: all 0.3s ease;

            &:hover {
                background-color: darken($primary-color, 5%);
                color: lighten($button-bg-color, 10%);
                transform: scale(1.05);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            }
        }

        @media (max-width: 370px) {
            flex-direction: column;
            align-items: center;

            .input-group,
            button {
                width: 90%;
            }
        }
    }
}